body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }
  *{margin: 0;padding: 0}
  #home{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 750px;
    position: relative;

  }
  #home img{
    width: 100%;
    height: 750px;
  }
  #navbar-example{
    position: fixed;
    z-index: 50;
    top:0;
    width: 100%;
    background-color: rgb(228, 227, 227,0.2) ;
    padding-top: 10px;
    border-bottom: none;
  }
  #navbar-example ul li{
    padding-right: 50px;
    
  }
  #navbar-example ul{
     border-bottom: none;
  }
  #navbar-example ul li a{
    color: #555;
    font-size: 18px;
  }

.title{
width: 500px;
height: 500px;
/* background-color: gold; */
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
text-align: center;
margin-top: 300px;
}
.title .personal{
font-size: 50px;
margin-bottom: 20px;
}
.title div{
  width: 100px;
  border-bottom:1px solid black ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.title span{
display: inline-block;
font-size: 17px;
margin-bottom: 50px;
}
.title .motto{
font-size: 20px;
margin-bottom: 10px;
}
.desinger{
font-size: 25px;
margin-bottom: 40px;
}
#btnScroll{
width: 100px;
height: 50px;
border: 1px solid black;
background-color: rgb(226, 40, 40,0); 
font-size: 20px;
outline: none;
}
#btnScroll:hover{
background-color:rgb(0, 0, 0,0.5);
color: white;
}
#about{
width: 100%;
height: 750px;
background-color:#e4d2d8;
margin-left: auto;
margin-right: auto;
margin-top: -5px;
position: relative;
}
.item1{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 25px;
}
.item1 span{
    display: inline-block;
    margin-top: 10px;
}
.avatar{
  width: 100%;
  height: 500px;
  background-color: white;
  border-bottom: 1px solid rgb(161, 158, 158);
  border-top: 1px solid rgb(161, 158, 158);
  position: absolute;
  top: 18%;
    
}
.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 150px;
    margin-left: 220px;
}
.resume{
  width: 1000px;
  height:500px;
  /* background-color: yellow;  */
  position: absolute;
  margin-left: 500px;
  margin-top: -315px;
}
.name{
  display: inline-block;
  font-size: 40px;
  margin-bottom: 20px;
}
.resume img{
  margin-left: 700px;
  margin-top: -100px;
  position: absolute;
}
.resume .to{
  margin-left: 350px;
  margin-top: 50px;
}
#show{
    width: 100%;
    height: 1200px;
    /* background-color: aqua; */
    position: relative;
}
.show{
  width: 100%;
  height: 1150px;
  background-color:#e9dfe5;
  position: absolute;
}
.first-line{
  position: absolute;
  margin-top: 100px;
  width: 1200px;
  height: 250px;
  /* background-color: red; */
   margin-left: 15%;

  
}
.first-line div{
  width: 300px;
  height:250px;
  float: left;
  /* border: 1px solid gold; */
  margin-left: 40px;
  transition: all 1s;
}
.first-line div:hover{
  transform:scale(1.2);
}

.second-line div:hover{
  transform:scale(1.2);
}
.third-line div:hover{
  transform:scale(1.2);
}
.second-line{
  position: absolute;
  margin-top: 390px;
  width: 1200px;
  height: 250px;
  /* background-color: red; */
   margin-left: 15%;
   
  
}
.second-line div{
  width: 300px;
  height:250px;
  float: left;
  /* border: 1px solid gold; */
  margin-left: 40px;
  transition: all 1s;
}
.third-line{
  position: absolute;
  margin-top: 690px;
  width: 1200px;
  height: 250px;
  /* background-color: red; */
   margin-left: 15%;
  
}
.third-line div{
  width: 300px;
  height:250px;
  float: left;
  /* border: 1px solid gold; */
  margin-left: 40px;
  transition: all 1s;
}
.show>div>div>a>img{
  width: 300px;
  height: 250px;
}
.to-trip{
  position: absolute;
  z-index: 50;
  margin-top: 1050px;
  margin-left: 45%;
}
#trip{
  width:100%;
  height: 730px;
  margin-left: auto;
  margin-right: auto;
  background-color:#e9dfe5;
  position: relative;
}
.nanjing{
  width: 300px;
  height: 300px;
  background-color: white;
  transform: rotate(-5deg);
  position: absolute;
  margin-left: 150px;
  margin-top: 200px;
}
.nanjing img{
  position: absolute;
  z-index: 5;
  margin: 10px;
   width: 280px;
   height: 280px;
}
.content{
  position: absolute;
  z-index: 10;
  margin: 10px;
   width: 280px;
   height: 280px;
   background-color: rgb(0, 0, 0,0.4);
   display: none;
   text-align: center;
   font-size: 20px;
   color: white;
}
.content p{
  margin-top: 50%;
}
.nanjing:hover .content{
  display: inline-block;
}
.courant{
  width: 300px;
  height: 300px;
  background-color: white;
  transform: rotate(-15deg);
  position: absolute;
  margin-left: 400px;
  margin-top: 200px;
}
.courant img{
  position: absolute;
  z-index: 5;
  margin: 10px;
   width: 280px;
   height: 280px;
}
.courant:hover .content{
  display: inline-block;
}
.nightfall{
  width: 300px;
  height: 300px;
  background-color: white;
  transform: rotate(15deg);
  position: absolute;
  margin-left: 700px;
  margin-top: 190px;
}
.nightfall img{
  position: absolute;
  z-index: 5;
  margin: 10px;
   width: 280px;
   height: 280px;
}
.nightfall:hover .content{
  display: inline-block;
}
.photoes{
  width: 300px;
  height: 300px;
  background-color: white;
  transform: rotate(-15deg);
  position: absolute;
  margin-left: 1000px;
  margin-top: 190px;
}
.photoes img{
  position: absolute;
  z-index: 5;
  margin: 10px;
   width: 280px;
   height: 280px;
}
.photoes:hover .content{
  display: inline-block;
}
.end{
  width: 100%;
  height: 720px;
  background-color: #d3ccd6;
  position: relative;
  text-align: center;
  
}
.saying{
  width: 1000px;
  height: 500px;
 position: absolute;
 top: 0;right: 0;bottom: 0;left: 0;
 margin: auto;
  /* background-color: red; */
}
.saying img{
 margin-bottom: 40px;
}
.essay{
  width: 600px;
  height: 100px;
  /* background-color: green; */
  top: 0;right: 0;bottom: 0;left: 0;
  margin: auto;
  text-indent: 36px;
}
.to-end{
position: absolute;
margin-left: 670px;
margin-top: 650px;
}