body {
    font-size: 15px;
}
* {margin: 0;padding: 0;}
.head {
    height: 55px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(24, 190, 190);
}
.nav {
    width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.nav>p {
     font-size: 14px;
    color: rgb(109, 109, 109);
    margin-left: 15px;
}
.box {
    width: 800px;
    height: 140px;
    background: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 14px;
    position: relative;
}
.first-line {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.first-line>a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(109, 109, 109);
    border: 1px solid rgb(235, 235, 235);
}
.first-line>a:hover {
    border: 1px solid orange;
    background: white;
}
.first-line>span {
    margin-right: 15px;

}
.category {
    color: rgb(24, 190, 190);
}
.first-all {
    color: rgb(109, 109, 109);
}
.first-line>i {
    margin-left: -13px;
    color: rgb(109, 109, 109);
}
.second-line{
    float: left;
    position: absolute;
    margin-top: 45px;
    margin-left: 15px;
}
.second-line>span {
    margin-right: 15px;
}
.type {
    color: rgb(24, 190, 190);
}
.second-all {
    color: rgb(109, 109, 109);
}
.third-line {
   
    position: absolute;
    float: left;
    margin-top: 75px;
    margin-left: 15px;
}
.third-line>a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    margin-right: 15px;
    border: 1px solid rgb(235, 235, 235);
}
.third-line>a:hover {
    border: 1px solid orange;
    background: white;
}
.third-line>span {
    margin-right: 15px;
}
.texture {
    color: rgb(24, 190, 190);
}
.third-all {
    color: rgb(109, 109, 109);
}
.fourth-line {
    position: absolute;
    float: left;
    margin-top: 105px;
    margin-left: 15px;
}
.fourth-line>a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    margin-right: 15px;
    border: 1px solid rgb(235, 235, 235);
}
.fourth-line>a:hover {
    border: 1px solid orange;
    background: white;
}
.fourth-line>span {
    margin-right: 15px;
}
.brand {
    color: rgb(24, 190, 190);
}
.fourth-all {
    color: rgb(109, 109, 109);
}
.title {
    width: 800px;
    height: 45px;
    background-color: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
}
.title-left {
    width: 250px;
    margin-left: 15px;
    line-height: 48px;
}
.title-left>div {
    display: inline;
    margin-right: 15px;
}
.title-left>div>span {
    color: rgb(109, 109, 109);
    font-size: 10px;
}
.search {
    width: 320px;
    position: absolute;
    margin-left: 270px;
    margin-top: -37px;
}
.search>input {
    width: 200px;
    outline: none;
    border: 1px solid #fff;
}

.search>span {
    position: absolute;
    right: 120px;
    margin-top: 2.5px;
    font-size: 13px;
    color: rgb(109, 109, 109);

}

.search>img {
    position: absolute;
    right: 150px;
    margin-top: 4.5px;
}

.title-right {
    width: 250px;
    float: right;
    margin-top: -35px;
    font-size: 14px;
}
.title-right>a {
    text-decoration: none;
    color: rgb(24, 190, 190);
}
.title-right>a>img {
    float: left;
}
.picture {
    margin-top: 15px;
    width: 800px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.picture>div { 
    float: left;
    width: 188.75px;
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    background: rgb(235, 235, 235);
}
.picture>div:not(:first-child) {
    margin-left: 15px;
}
.picture>div>div>img{
    width: 158.75px;
    height: 150px;
}
.picture>div>div {
    margin: 15px;
    font-size: 10px;
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.picture>div>div>div>div {
    text-decoration: none;
    color: rgb(24, 190, 190);
    margin-top: 10px;
}
.h1 {
    font-size: 13px;
}
.h2 {
    margin-left: 5px;
}
.picture>div>div:hover,.picture>div>div>span:hover ,.picture>div>div>p:hover , .picture>div>div:hover div{
    color: rgb(255, 197, 0);
}
.picture>div>div>div>span {
    display: inline-block;
    margin-right: 13px;
    margin-top: 5px;
}
.picture>div>div>div>p {
    margin-top: 5px;
}

.page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
.page>button {
   
    height: 28px;
    width: 100px;
    background-color: rgb(235, 235, 235);
    border: 0;
    color: rgb(109, 109, 109);
}
.page>div {
    background: white;
    position: absolute;
    display: inline;
    text-align: center;
    margin-top: 3px;

}
.link{
    margin-left: 20px;
}
.link>a {
    margin: 0 5px;
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.link>a:hover {
    color: rgb(255, 197, 0);
    text-decoration: underline;
}
.next {
    margin-left: 155px;
}
.pages{
    width: 250px;
}
.pages>input {
    margin-left: 10px;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    border: 1px solid rgb(109, 109, 109);
    outline: none;
}
.pages>span {
    color: rgb(109, 109, 109);
}
.sure>button {
    position: absolute;
    margin-left: 250px;
    width: 60px;
    height: 28px;
    margin-top: -2px;
    background-color: rgb(255, 167, 0);
    color: white;
    border: 0;
}
.erweima {
    width: 800px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.erweima>div {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.tip {
    float: left;
    margin-top: 10px;
}
.jiancai {
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(24, 190, 190);
}
.dear,.no {
    font-size: 12px;
    color: rgb(109, 109, 109);
}
.end {
    height: 180px;
    background: rgb(81, 81, 81);
    margin-top: 20px;
}
.content {
    width: 800px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.home {
    position: absolute;
    width: 130px;
    margin-top: 25px;
    margin-left: 15px;
}
.advertisement {
    width: 300px;
    height: 45px;
    position: absolute;
    margin-top: 80px;
    margin-left: 15px;
}
.advertisement-first-line {
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(235, 233, 233);
}
.advertisement-second-line {
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.us {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
}
.us>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209);
}
.state {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 510px;
    margin-top: 50px;
}
.state>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209)
}
.weixin {
    width: 80px;
    height: 110px;
    position: absolute;
    margin-left: 700px;
    margin-top: 30px;
}
 .weixin>ul>li {
    font-size: 6px;
    margin-top: 10px;
    color: rgb(209, 209, 209);
    list-style: url("../images/shop.png");
} 
.weixin>ul>li.first-li {
    list-style: url("../images/weixin2.png");
}
.weixin>ul>li.second-li {
    list-style: url("../images/tianmao.png");
} 
hr {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.web-end {
    width: 800px;
    background: brown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.web-end>ul>li {
    margin-left: 15px;
    list-style: none;
    float: left;
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.web-end>ul>.web-end-right {
    float: right;
}
.guide-nav {
    margin-top: 15x;
    width: 100%;
    height: 35px;
    background-color: rgb(235, 235, 235);
}
.guide {
    width: 800px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.guide>div {
    float: left;
    margin-top: 8px;
}
.guide .guide-center {
    position: absolute;
    left: 300px;
}
.guide .guide-center span {
    display: inline-block;
    margin-right: 50px;
    font-size: 15px;
}
.guide .guide-left div {
    display: inline-block;
    font-size: 11px;
    margin-left: 45px;
}
.guide .guide-left img {
    position: absolute;
    margin-top: 3px;
    margin-left: 15px;
}
.guide .guide-right {
    float: right;
    font-size: 11px;
}
.guide .guide-right img {
    position: absolute;
    margin-top: 3px;
    right: 50px;
}
.guide .guide-right span {
    display: inline-block;
    margin-top: 5px;
}
.guide a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
/* body {
    font-size: 15px;
}
* {margin: 0;padding: 0;}
.head {
    height: 55px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(24, 190, 190);
}
.nav {
    width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.nav>p {
     font-size: 14px;
    color: rgb(109, 109, 109);
    margin-left: 15px;
}
.box {
    width: 800px;
    height: 140px;
    background: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 14px;
    position: relative;
}
.lineOne {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.lineOne>a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(109, 109, 109);
    border: 1px solid rgb(235, 235, 235);
}
.lineOne>a:hover {
    border: 1px solid orange;
    background: white;
}
.lineOne>span {
    margin-right: 15px;

}
.category {
    color: rgb(24, 190, 190);
}
.firstAll {
    color: rgb(109, 109, 109);
}
.lineOne>i {
    margin-left: -13px;
    color: rgb(109, 109, 109);
}
.lineTwo {
    float: left;
    position: absolute;
    margin-top: 45px;
    margin-left: 15px;
}
.lineTwo>span {
    margin-right: 15px;
}
.type {
    color: rgb(24, 190, 190);
}
.secondAll {
    color: rgb(109, 109, 109);
}
.lineThird {
   
    position: absolute;
    float: left;
    margin-top: 75px;
    margin-left: 15px;
}
.lineThird>a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    margin-right: 15px;
    border: 1px solid rgb(235, 235, 235);
}
.lineThird>a:hover {
    border: 1px solid orange;
    background: white;
}
.lineThird>span {
    margin-right: 15px;
}
.texture {
    color: rgb(24, 190, 190);
}
.thirdAll {
    color: rgb(109, 109, 109);
}
.lineFour {
    position: absolute;
    float: left;
    margin-top: 105px;
    margin-left: 15px;
}
.lineFour>a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    margin-right: 15px;
    border: 1px solid rgb(235, 235, 235);
}
.lineFour>a:hover {
    border: 1px solid orange;
    background: white;
}
.lineFour>span {
    margin-right: 15px;
}
.brand {
    color: rgb(24, 190, 190);
}
.fourAll {
    color: rgb(109, 109, 109);
}
.title {
    width: 800px;
    height: 45px;
    background-color: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
}
.titleLeft {
    width: 250px;
    margin-left: 15px;
    line-height: 48px;
}
.titleLeft>div {
    display: inline;
    margin-right: 15px;
}
.titleLeft>div>span {
    color: rgb(109, 109, 109);
    font-size: 10px;
}
.search {
    width: 320px;
    position: absolute;
    margin-left: 270px;
    margin-top: -37px;
}
.search>input {
    width: 200px;
    outline: none;
    border: 1px solid #fff;
}

.search>span {
    position: absolute;
    right: 120px;
    margin-top: 2.5px;
    font-size: 13px;
    color: rgb(109, 109, 109);

}

.search>img {
    position: absolute;
    right: 150px;
    margin-top: 4.5px;
}

.titleRight {
    width: 250px;
    float: right;
    margin-top: -35px;
    font-size: 14px;
}
.titleRight>a {
    text-decoration: none;
    color: rgb(24, 190, 190);
}
.titleRight>a>img {
    float: left;
}
.picture {
    margin-top: 15px;
    width: 800px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.picture>div { 
    float: left;
    width: 188.75px;
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    background: rgb(235, 235, 235);
}
.picture>div:not(:first-child) {
    margin-left: 15px;
}
.picture>div>div>img{
    width: 158.75px;
    height: 150px;
}
.picture>div>div {
    margin: 15px;
    font-size: 10px;
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.picture>div>div>div>div {
    text-decoration: none;
    color: rgb(24, 190, 190);
    margin-top: 10px;
}
.h1 {
    font-size: 13px;
}
.h2 {
    margin-left: 5px;
}
.picture>div>div:hover,.picture>div>div>span:hover ,.picture>div>div>p:hover , .picture>div>div:hover div{
    color: rgb(255, 197, 0);
}
.picture>div>div>div>span {
    display: inline-block;
    margin-right: 13px;
    margin-top: 5px;
}
.picture>div>div>div>p {
    margin-top: 5px;
}

.page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
.page>button {
   
    height: 28px;
    width: 100px;
    background-color: rgb(235, 235, 235);
    border: 0;
    color: rgb(109, 109, 109);
}
.page>div {
    background: white;
    position: absolute;
    display: inline;
    text-align: center;
    margin-top: 3px;

}
.link{
    margin-left: 20px;
}
.link>a {
    margin: 0 5px;
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.link>a:hover {
    color: rgb(255, 197, 0);
    text-decoration: underline;
}
.next {
    margin-left: 155px;
}
.pages{
    width: 250px;
}
.pages>input {
    margin-left: 10px;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    border: 1px solid rgb(109, 109, 109);
    outline: none;
}
.pages>span {
    color: rgb(109, 109, 109);
}
.sure>button {
    position: absolute;
    margin-left: 250px;
    width: 60px;
    height: 28px;
    margin-top: -2px;
    background-color: rgb(255, 167, 0);
    color: white;
    border: 0;
}
.erweima {
    width: 800px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.erweima>div {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.tip {
    float: left;
    margin-top: 10px;
}
.jiancai {
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(24, 190, 190);
}
.dear,.no {
    font-size: 12px;
    color: rgb(109, 109, 109);
}
.end {
    height: 180px;
    background: rgb(81, 81, 81);
    margin-top: 20px;
}
.content {
    width: 800px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.home {
    position: absolute;
    width: 130px;
    margin-top: 25px;
    margin-left: 15px;
}
.abs {
    width: 300px;
    height: 45px;
    position: absolute;
    margin-top: 80px;
    margin-left: 15px;
}
.absOneLine {
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(235, 233, 233);
}
.absTwoLine {
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.us {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
}
.us>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209);
}
.state {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 510px;
    margin-top: 50px;
}
.state>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209)
}
.weixin {
    width: 80px;
    height: 110px;
    position: absolute;
    margin-left: 700px;
    margin-top: 30px;
}
 .weixin>ul>li {
    font-size: 6px;
    margin-top: 10px;
    color: rgb(209, 209, 209);
    list-style: url("shop.png");
} 
.weixin>ul>li.guan {
    list-style: url("weixin2.png");
}
.weixin>ul>li.tian {
    list-style: url("tianmao.png");
} 
hr {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.webEnd {
    width: 800px;
    background: brown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.webEnd>ul>li {
    margin-left: 15px;
    list-style: none;
    float: left;
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.webEnd>ul>.yue {
    float: right;
}
.guideNav {
    margin-top: 15x;
    width: 100%;
    height: 35px;
    background-color: rgb(235, 235, 235);
}
.guide {
    width: 800px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.guide>div {
    float: left;
    margin-top: 8px;
}
.guide .guideCenter {
    position: absolute;
    left: 300px;
}
.guide .guideCenter span {
    display: inline-block;
    margin-right: 50px;
    font-size: 15px;
}
.guide .guideLeft div {
    display: inline-block;
    font-size: 11px;
    margin-left: 45px;
}
.guide .guideLeft img {
    position: absolute;
    margin-top: 3px;
    margin-left: 15px;
}
.guide .guideRight {
    float: right;
    font-size: 11px;
}
.guide .guideRight img {
    position: absolute;
    margin-top: 3px;
    right: 50px;
}
.guide .guideRight span {
    display: inline-block;
    margin-top: 5px;
}
.guide a {
    text-decoration: none;
    color: rgb(109, 109, 109);
} */