*{margin:0;padding: 0}
body {background-color: #e9dfe5;}
container{
    position: relative;
    width: 100%;
}
.left{
    position: absolute;
    width: 354px;
    height: 321px;
    margin-top: 350px;
}
.state{
    position: absolute;
    width: 200px;
    height: 250px;
    /* background-color: gold; */
    margin-left: 466px;
    margin-top: -310px;
}
.state p{
    text-indent: 33px;
}
#pic {
    width: 600px;
    position: absolute;
    margin-left: 800px;
    top: 40px;
}
#pic img {
    width: 600px;
    height: 650px;
}
