/* 用户中心.css */
* {
    margin: 0;
    padding: 0
}

.main {
    width: 100%;
    height: 152px;
    background-color: #F0F0F0;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    position: relative;
}

.main img {
    position: absolute;
    width: 108px;
    height: 109px;
    margin-top: 20px;
    margin-left: 20px;
}

.main .information span {
    display: inline-block;
    margin-left: 140px;

}

.main .information {
    margin-top: 25px;
}

.username {
    font-size: 18px;
    margin-bottom: 20px;
}

.case {
    width: 2px;
    height: 100px;
    box-sizing: border-box;
    border-right: 1px solid #E1E1E1;
    margin-left: 300px;
    margin-top: -85px;
}

.main .weixin1 {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-left: 330px;
    margin-top: -70px;
}

.binding {
    position: absolute;
    margin-left: 380px;
    margin-top: -70px;
    font-size: 13PX;
}

.now {
    color: rgb(24, 190, 190);
}

.phone {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-left: 530px;
    margin-top: -95px;
}

.binding-phone {
    position: absolute;
    margin-left: 580px;
    margin-top: -94px;
    font-size: 13PX;
}
/* 家居医生.css */
.head {
    width: 100%;
    height: 60px;
    background-color: rgb(24, 190, 190);
    text-align: center;
}

.head img {
    margin-top: 10px;

}

.title {
    width: 100%;
    height: 42.4px;
    background-color: rgb(235, 235, 235);
}

.nav {
    width: 1000px;
    height: 42.4px;
    margin-left: auto;
    margin-right: auto;
    /* background: brown;  */
    position: relative;
}

.nav-left {
    font-size: 11px;
}

.nav-left img {
    position: absolute;
    margin-top: 12px;
}

.nav span {
    color: rgb(109, 109, 109);
    position: absolute;
    margin-left: 30px;
    margin-top: 14px;
}

.nav-center {
    position: absolute;
    margin-left: 340px;
    margin-top: 8px;
}

.nav-center a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
    color: rgb(109, 109, 109);
}

.nav-right {
    width: 100px;
    font-size: 14px;
    position: absolute;
    margin-left: 900px;
    /* background-color: blueviolet; */
}

.nav-right a {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 40px;
    color: #F9BF50;
}

.nav-right img {
    position: absolute;
    display: inline-block;
    margin-top: 12px;
    margin-left: 15px;

}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 732px;
    width: 1000px;
    /* background: brown; */
    margin-top: 20px;
    position: relative;

}

.container-left {
    background-color: #F0F0F0;
    width: 202px;
    height: 732px;
    position: relative;
}

iframe {
    width: 786.4px;
    height: 732px;
    background-color: #F0F0F0;
    position: absolute;
    margin-top: -732px;
    margin-left: 214px;

}

.user {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    color: rgb(24, 190, 190);
    width: 202px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-left: 5px solid #1AC0C0;
    background-color: #EBEBEB;
}

.user:hover {
    color: orange;
}

.menu {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
}

.check {
    list-style: none;
    font-size: 14px;
    color: #484848;
    margin-bottom: 20px;
}

.check li {
    margin-bottom: 5px;
    position: relative;
}

.check li span {
    font-size: 16px;
    color: #505050;
    font-weight: bold;
}

.my span img {
    display: inline-block;
    position: absolute;
    right: 140px;
    top: 6px;

}

.govern {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 170px;
}

.decorate {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 250px;
}

.collect {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 320px;
}

.data {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 475px;
}

.data ul li a {
    text-decoration: none;
    color: #484848;
}

.data ul li a:hover {
    color: orange;
}

.integral {
    width: 202px;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 600px;
}
.end {
    height: 180px;
    background: rgb(81, 81, 81);
    margin-top: 20px;
}
.content {
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.home {
    position: absolute;
    width: 130px;
    margin-top: 25px;
    margin-left: 15px;
}
.advertisement {
    width: 300px;
    height: 45px;
    position: absolute;
    margin-top: 80px;
    margin-left: 15px;
}
.advertisement-first-line {
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(235, 233, 233);
}
.advertisement-second-line {
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.us {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
}
.us>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209);
}
.state {
    width: 40px;
    height: 100px;
    position: absolute;
    margin-left: 610px;
    margin-top: 50px;
}
.state>ul>li {
    list-style: none;
    font-size: 6px;
    margin-top: 12px;
    color: rgb(209, 209, 209)
}
.weixin {
    width: 80px;
    height: 110px;
    position: absolute;
    margin-left: 850px;
    margin-top: 30px;
}
 .weixin>ul>li {
    font-size: 6px;
    margin-top: 10px;
    color: rgb(209, 209, 209);
    list-style: url("../images/shop.png");
} 
.weixin>ul>li.first-li {
    list-style: url("../images/weixin2.png");
}
.weixin>ul>li.second-li {
    list-style: url("../images/tianmao.png");
} 
hr {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.web-end {
    width: 1000px;
    background: brown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.web-end>ul>li {
    margin-left: 15px;
    list-style: none;
    float: left;
    font-size: 8px;
    color: rgb(209, 209, 209);
}
.web-end>ul>.web-end-right {
    float: right;
}
/* 微信登录.css */
.alter{
    position: relative;
    width: 100%;
}
.alter-left{
    position: absolute;
    width: 4px;
    height: 35px;
    background-color: rgb(24, 190, 190);
    margin-left: 65px;
    margin-top: 20px;
}
.alter span{
    position: absolute;
    font-size: 16px;
    margin-left: 75px;
    margin-top: 27px;
}
.line{
    margin-top: 63px;
    margin-left: 34px;
    color: rgb(209, 209, 209);
    position: absolute;
}
.phone-bind{
    width: 454px;
    height: 72px;
    background-color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 65px;
}
.phone-bind img{
    display: inline-block;
    margin-top: 14px;
    margin-left: 10px;
}
.phone-bind div{
    position: absolute;
    margin-left: 70px;
    margin-top: -48px;

}
.phone-bind div span{
    margin-bottom: 5px;
    display: inline-block;
}
.phone-bind button{
    border: none;
    background: orange;
    width: 85px;
    height: 36px;
    position: absolute;
    display: inline-block;
    margin-left: 250px;
    margin-top: 21px;
}
.weixin-bind{
    width: 454px;
    height: 72px;
    background-color: white;
    position: absolute;
    margin-top: 190px;
    margin-left: 65px;
}
.weixin-bind img{
    display: inline-block;
    margin-top: 24px;
    margin-left: 10px;
}
.weixin-bind div{
    position: absolute;
    margin-left: 70px;
    margin-top: -48px;

}
.weixin-bind div span{
    margin-bottom: 5px;
    display: inline-block;
}
.weixin-bind button{
    border: none;
    background: orange;
    width: 85px;
    height: 36px;
    position: absolute;
    display: inline-block;
    margin-left: 261px;
    margin-top: 21px;
}
